{% extends "base.html" %}

<h1>{% block title %}Comments{% endblock %}</h1>

{% block content %}
	<article class="post">
		<header>
			<div>
				<h1> {{ post["title"] }} </h1>
				<div class="about">{{ post["elapsed"] }} by {{ post["username"]}}</div>
			</div>

			{% if g.user["id"] == post["author_id"] %}
				<a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
			{% endif %}
		</header>
		<p class="body">
			{% if post["image"] %}
				<img class="post_image" src="{{ url_for('static', filename='/images/' + post['image']) }}">
				{{ post["image"] }}
			{% endif %}
		{{ post["body"] }}</p>

		<button id="comment_button{{post['id']}}" onclick="expandTextarea('comment', '')">comment</button>
		<form id="comment_form" method="post" style="display: none">
			<textarea name="inputbody" id="input_body" placeholder="write something thoughtful"></textarea>
			<button type="button" id="button_comment{{post['id']}}" value="Save comment" onclick="saveComment()">Save comment</button>
		</form>
	</article>

<script>
	function saveComment(parentId=null)
	{
		if (parentId) {
			textarea = "#input_body" + parentId
		} else {
			textarea = "#input_body"
		}
		$.ajax({
			data: {
				body: $(textarea).val(), 
				parent_id: parentId
			},
			type: "POST",
			url: "/" + {{ post["id"] }} + "/detail",
			success: function(response) {
				if (response.redirect) {
			    	console.log("redirect")
			    	window.location = response.redirect
			    } else {
				$(".comments").replaceWith(response.body)
				}
			}
		})	

		// clear the text area input
		$(textarea).val('')	
	}

	function likeComment(commentId)
	//make request for liking post
	{
		console.log("liek comment function")
	  $.ajax({
	    url: "/" + {{ post["id"] }} + "/comment/" + commentId + "/like",
	    type:"POST",
	    success: function(response) {
			if (response.redirect) {
		    	console.log("redirect")
		    	window.location = response.redirect
		    } else {
	    	$(".comments").replaceWith(response.body)
	    	}
	    }
	  }); 
	}
</script>

{% include "blog/comments.html" %}

{% endblock %}