{% extends "base.html" %}

{% block header %}
	<h1>{% block title %}Posts{% endblock %}</h1>
	{% if g.user %}
		<a class="action" href="{{ url_for('blog.create') }}">New</a>
	{% endif %}
{% endblock %}

{% block content %}
	{% for post in posts %}
		<article class="post">
			<header>
				<div>
					<h1><a href="{{ url_for('blog.detail', id = post['id']) }}"> {{ post["title"] }} </a></h1>
					<div class="about">{{ post["elapsed"] }} by {{ post["username"]}} 
					<br>

					{% if post["image"] %}
						<img class="post_image" src="{{ url_for('static', filename='/images/' + post['image']) }}">
						{{ post["image"] }}
					{% endif %}

					{% if g.user["id"] != post["author_id"] %}
						{% if g.user %}
						<div id = "like_button{{post['id']}}">
							{% if post["id"] in g.likes["posts"] %}
							<input class="like" type="submit" value="Unlike" onclick="like({{post['id']}})">
							{% else %}
							<input class="like" type="submit" value="Like" onclick="like({{post['id']}})">
							{% endif %}
						</div>
						{% else %}
						<div id = "like_button{{post['id']}}">
							<input class="like" type="submit" value="Like" onclick="like({{post['id']}})">
						</div>			
						{% endif %}
					{% endif %}

					</div>{{ post["likes"] }} likes
				{% if g.user["id"] == post["author_id"] %}
					<a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
				{% endif %}
				</div>
			</header>
			<p class="body">{{ post["body"] }}</p>
		</article>
		{% if not loop.last %}
			<hr>
		{% endif %}
	{% endfor %}
{% endblock %}