<!doctype html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> 
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<script>
function like(postID)
//make request for liking post
{
  console.log("like button")
  $.ajax({
    url:"/" + postID + "/like_post",
    type:"POST",
    success: function(data) {
      console.log(data.redirect)
      if (data.redirect) {
        console.log("redirect")
        window.location = data.redirect
      } else {
        console.log("replace")
        $("#like_button" + postID).replaceWith(data.body)
      } 
    }
  }); 
}

function expandTextarea(type, num_id)
{
    //console.log("button " + num_id + " works")
    $("#" + type + "_form" + num_id).toggle(); 
}


  // comments = JSON.parse()
  // console.log(comments)
  // let commentSection = document.getElementById('comments'); 

  // for (id in comments) {
  //   console.log(comments[id].body)
  //   commentSection.innerHTML += comments[id].body
  // }

</script>

<title>{% block title %}{% endblock %} - Flaskr </title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1><a href = "/"> Flaskr </a>
  </h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }} ({{ g.karma }})</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>